/**
 * @Date:   2019-10-24T14:12:37+02:00
 * @Email:  code@bramkorsten.nl
 * @Project: Kerstkaart 2019
 * @Filename: styles.less
 * @Last modified time: 2019-12-03T13:50:17+01:00
 * @Copyright: Copyright 2019 - Bram Korsten
 */
@font-face {
  font-family: "Qanelas";
  font-weight: 900;
  src: url("../fonts/Qanelas-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Qanelas";
  font-weight: 300;
  src: url("../fonts/Qanelas-Light.otf") format("opentype");
}
.gameStartup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameStartup.visible {
  display: flex;
}
.gameStartup .logo {
  width: 300px;
  height: 200px;
  background: url("../img/logo_v1_full.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameStartup .loadingContainer {
  max-width: 300px;
  width: 90%;
  display: none;
}
.gameStartup .loadingContainer.visible {
  display: block;
}
.gameStartup .loadingContainer .loadingBar {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #ebe0fc;
  position: relative;
  overflow: hidden;
}
.gameStartup .loadingContainer .loadingBar .loadingDone {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #e22b2b;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.gameStartup .loadingContainer .loadingMessage {
  width: 100%;
  height: auto;
  color: #000;
  text-align: center;
  margin: 15px 0;
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
}
.gameStartup .gameInformation {
  display: none;
  max-width: 300px;
  width: 90%;
  height: auto;
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 300;
  text-align: center;
}
.gameStartup .gameInformation.visible {
  display: block;
}
.gameStartup .gameInformation p {
  margin: 15px 0;
}
.gameStartup .nameField {
  margin: 50px 0 0;
  display: none;
  width: 90%;
  max-width: 450px;
  justify-content: center;
}
.gameStartup .nameField.visible {
  display: flex;
}
.gameStartup .nameField.returningUser .nameInput {
  display: none;
}
.gameStartup .nameField .nameInput {
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
  padding: 10px 20px;
  margin: 0 20px 0 0;
  border-radius: 10px;
  border: 3px solid #000;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.gameStartup .nameField .nameInput:focus {
  outline: none;
}
.gameStartup .nameField .button {
  background-color: #931414;
  min-width: 130px;
  min-height: 40px;
  border-radius: 13px;
  border: 3px solid #000;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
}
.gameStartup .nameField .button span {
  padding: 11px 20px;
}
.gameStartup .nameField .button::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #e22b2b;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 10%;
  border-radius: 16px;
}
.gameStartup .nameField .button::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 8px;
  z-index: -1;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transform: rotate(-20deg);
}
.gameStartup .nameField .button:hover::before {
  background-color: #d61d1d;
}
.gameStartup .nameField .button.disabled {
  background-color: #626262;
  pointer-events: none;
}
.gameStartup .nameField .button.disabled::before {
  background-color: #959595;
}
.gameStartup .nameField .button.disabled:hover::before {
  background-color: #888888;
}
@keyframes wiggle {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}
.gameOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}
.gameOverlay .gameControls {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  z-index: 8;
}
.gameOverlay .gameControls .hands {
  display: flex;
  justify-content: space-between;
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(220px);
}
.gameOverlay .gameControls .hands.visible {
  transform: translateY(0);
}
.gameOverlay .gameControls .hands.visible .hand {
  pointer-events: auto;
}
.gameOverlay .gameControls .hands.visible .hand .image {
  transform: none;
}
.gameOverlay .gameControls .hands .hand {
  margin: 0 15px;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  cursor: pointer;
}
.gameOverlay .gameControls .hands .hand .image {
  width: 100px;
  height: 100px;
  transform: translateY(20px) rotate(15deg);
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.gameOverlay .gameControls .hands .hand .text {
  margin-top: 15px;
  display: inline-block;
  background-color: #471c72;
  color: #fff;
  border-radius: 9px;
  font-style: normal;
  font-size: 13px;
  font-family: "Qanelas";
  font-weight: 900;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;
  position: relative;
  transform: 0;
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.gameOverlay .gameControls .hands .hand .text::after {
  content: "";
  background-color: #c6a4e9;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  z-index: -1;
}
.gameOverlay .gameControls .hands .hand.rock .image {
  background: url("../img/Rock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameOverlay .gameControls .hands .hand.paper {
  transform: translateY(-30px);
}
.gameOverlay .gameControls .hands .hand.paper .image {
  background: url("../img/Paper.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameOverlay .gameControls .hands .hand.scissor .image {
  background: url("../img/Scissor.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameOverlay .gameControls .hands .hand:hover .image {
  transform: translateY(-20px) rotate(-15deg);
}
.gameOverlay .gameControls .buttons {
  position: absolute;
  width: 90%;
  max-width: 250px;
  transform: translateY(250px);
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.gameOverlay .gameControls .buttons.visible {
  transform: translateY(0);
}
.gameOverlay .gameControls .buttons .button {
  pointer-events: auto;
  margin: 10px 0;
  width: 100%;
}
.gameOverlay .gameControls .buttons .button.again {
  background-color: #1a6d38;
  min-width: 130px;
  min-height: 40px;
  border-radius: 13px;
  border: 3px solid #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
}
.gameOverlay .gameControls .buttons .button.again span {
  padding: 11px 20px;
}
.gameOverlay .gameControls .buttons .button.again::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #2ebf62;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 10%;
  border-radius: 16px;
}
.gameOverlay .gameControls .buttons .button.again::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 8px;
  z-index: -1;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transform: rotate(-20deg);
}
.gameOverlay .gameControls .buttons .button.again:hover::before {
  background-color: #29aa57;
}
.gameOverlay .gameControls .buttons .button.again.disabled {
  background-color: #626262;
  pointer-events: none;
}
.gameOverlay .gameControls .buttons .button.again.disabled::before {
  background-color: #959595;
}
.gameOverlay .gameControls .buttons .button.again.disabled:hover::before {
  background-color: #888888;
}
.gameOverlay .gameControls .buttons .button.stop {
  background-color: #931414;
  min-width: 130px;
  min-height: 40px;
  border-radius: 13px;
  border: 3px solid #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
}
.gameOverlay .gameControls .buttons .button.stop span {
  padding: 11px 20px;
}
.gameOverlay .gameControls .buttons .button.stop::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #e22b2b;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 10%;
  border-radius: 16px;
}
.gameOverlay .gameControls .buttons .button.stop::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 8px;
  z-index: -1;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transform: rotate(-20deg);
}
.gameOverlay .gameControls .buttons .button.stop:hover::before {
  background-color: #d61d1d;
}
.gameOverlay .gameControls .buttons .button.stop.disabled {
  background-color: #626262;
  pointer-events: none;
}
.gameOverlay .gameControls .buttons .button.stop.disabled::before {
  background-color: #959595;
}
.gameOverlay .gameControls .buttons .button.stop.disabled:hover::before {
  background-color: #888888;
}
.gameOverlay .informationOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}
.gameOverlay .informationOverlay .loadingText {
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 50px;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.gameOverlay .informationOverlay .loadingText.visible {
  opacity: 1;
}
.gameOverlay .informationOverlay .loadingText.visible .right {
  transform: translateY(0);
}
.gameOverlay .informationOverlay .loadingText .left {
  margin-right: 20px;
}
.gameOverlay .informationOverlay .loadingText .loadingAnimation {
  width: 10px;
  height: 10px;
  transform-origin: center;
  animation: wiggle 1s infinite;
  position: relative;
}
.gameOverlay .informationOverlay .loadingText .loadingAnimation::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #959595;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
.gameOverlay .informationOverlay .loadingText .loadingAnimation.grey::after {
  background-color: #959595;
}
.gameOverlay .informationOverlay .loadingText .loadingAnimation.red::after {
  background-color: #e22b2b;
}
.gameOverlay .informationOverlay .loadingText .loadingAnimation.green::after {
  background-color: #2ebf62;
}
.gameOverlay .informationOverlay .loadingText .loadingAnimation.purple::after {
  background-color: #471c72;
}
.gameOverlay .informationOverlay .loadingText .right {
  height: 18px;
  overflow: hidden;
  transform: translateY(-5px);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
}
.gameOverlay .informationOverlay .loadingText .right .text {
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
  color: #000;
  display: block;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.gameOverlay .informationOverlay .loadingText .right.line2 .text {
  transform: translateY(-18px);
}
.gameOverlay .informationOverlay .versusBar {
  width: 90%;
  max-width: 400px;
  background-color: #ba9969;
  height: 40px;
  border: 3px solid #000;
  border-radius: 12px;
  position: absolute;
  z-index: 5;
  overflow: hidden;
  box-shadow: 0 1px 15px 0px #0009;
  top: 56px;
  left: 50%;
  transform: translate(-50%, -140px) rotate(0) scale(0.7);
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.gameOverlay .informationOverlay .versusBar.visible {
  transform: translate(-50%, 0) rotate(1deg);
}
.gameOverlay .informationOverlay .versusBar.visible .content span.text {
  transform: translateY(0);
}
.gameOverlay .informationOverlay .versusBar.visible .content span#player1 {
  transition-delay: 0.1s;
}
.gameOverlay .informationOverlay .versusBar.visible .content span#player2 {
  transition-delay: 0.2s;
}
.gameOverlay .informationOverlay .versusBar::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #f8cc8c;
  width: calc(100% + 5px);
  height: 100%;
  top: -5px;
  left: -5px;
  border-radius: 15px;
  z-index: -1;
}
.gameOverlay .informationOverlay .versusBar::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 16px;
  height: 8px;
  z-index: -1;
  top: 4px;
  left: 2px;
  border-radius: 50%;
  transform: rotate(-30deg);
  z-index: 2;
}
.gameOverlay .informationOverlay .versusBar .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateY(-2px);
}
.gameOverlay .informationOverlay .versusBar .content span {
  font-style: normal;
  font-size: 16px;
  font-family: "Qanelas";
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}
.gameOverlay .informationOverlay .versusBar .content span.text {
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(-20px);
}
.gameOverlay .informationOverlay .versusBar .content span.versus {
  color: #471c72;
  display: inline-block;
  margin: 0 20px;
  font-size: 28px;
  transform: rotate(-5deg);
}
.gameOverlay .informationOverlay .messageScroll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: url("../img/scroll.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 150px;
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 5;
}
.gameOverlay .informationOverlay .messageScroll.visible {
  transform: translate(-50%, -50%) scale(1);
}
.gameOverlay .informationOverlay .messageScroll .text {
  font-style: normal;
  font-size: 32px;
  font-family: "Qanelas";
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  position: relative;
  display: inline-block;
  top: 60px;
  left: 75px;
  transform-origin: center center;
  transform: rotate(-5deg);
}
.gameOverlay .informationOverlay .messageScroll .text .color {
  color: #471c72;
}
.gameOverlay .informationOverlay .largeMessage {
  position: absolute;
  width: 500px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(10);
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.18, 0.65, 0.18, 1);
  -moz-transition: all 0.7s cubic-bezier(0.18, 0.65, 0.18, 1);
  -o-transition: all 0.7s cubic-bezier(0.18, 0.65, 0.18, 1);
  transition: all 0.7s cubic-bezier(0.18, 0.65, 0.18, 1);
  z-index: 7;
}
.gameOverlay .informationOverlay .largeMessage.visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.gameOverlay .informationOverlay .largeMessage.hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
}
.gameOverlay .informationOverlay .largeMessage .zoombox {
  animation: 1.4s zoom infinite;
}
.gameOverlay .informationOverlay .largeMessage span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
  text-align: center;
  font-style: normal;
  font-size: 70px;
  font-family: "Qanelas";
  font-weight: 900;
  width: 100%;
  height: auto;
  line-height: 0.9;
}
.gameOverlay .informationOverlay .largeMessage .normal {
  z-index: 2;
  color: #471c72;
}
.gameOverlay .informationOverlay .largeMessage .outline {
  z-index: 1;
  color: #f8cc8c;
  -webkit-text-stroke: 11px;
}
.gameOverlay .menuIcons {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  width: 100%;
  height: auto;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
  z-index: 7;
}
.gameOverlay .menuIcons .flex {
  display: flex;
  margin: 0 50px;
}
.gameOverlay .menuIcons .buttonContainer {
  background-color: #f8cc8c;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 0 1px 15px 0px #0009;
  display: flex;
  pointer-events: auto;
  position: relative;
}
.gameOverlay .menuIcons .buttonContainer .icon {
  width: 40px;
  height: 40px;
  background-color: #ba9969;
  border-radius: 6px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gameOverlay .menuIcons .buttonContainer .icon .image {
  width: 35px;
  height: 35px;
}
.gameOverlay .menuIcons .buttonContainer .icon.start .image {
  background: url("../img/icon_door.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameOverlay .menuIcons .buttonContainer .icon.start.game .image {
  background: url("../img/icon_world.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameOverlay .menuIcons .buttonContainer .icon.info .image {
  background: url("../img/icon_info.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameOverlay .menuIcons .buttonContainer .icon.highscores .image {
  background: url("../img/icon_star.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameOverlay .menuIcons .buttonContainer .icon.arMode .image {
  background: url("../img/icon_ar.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameOverlay .menuIcons .buttonContainer .icon.close .image {
  background: url("../img/icon_cross.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0.8);
}
.gameOverlay .menuIcons .buttonContainer .infoText {
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
  color: #000;
  position: absolute;
  bottom: -25px;
  text-transform: uppercase;
  display: none;
  text-align: center;
  width: 100%;
}
.gameOverlay .menuIcons .buttonContainer .infoText.visible {
  display: block;
}
.window {
  max-width: 450px;
  width: 90%;
  height: calc(100% - 200px);
  max-height: 600px;
  background-color: #ba9969;
  border-radius: 11px;
  border: 3px solid #000;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  box-shadow: 0 1px 15px 0px #0009;
  box-sizing: border-box;
  top: 150px;
  right: 50px;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(calc(100% + 30px + 5vw));
}
.window::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 5px);
  height: 100%;
  background-color: #f8cc8c;
  border-radius: 22px;
  top: -5px;
  left: -8px;
  z-index: -1;
}
.window.visible {
  transform: translateX(0);
}
.window .title {
  font-style: normal;
  font-size: 34px;
  font-family: "Qanelas";
  font-weight: 900;
  color: #471c72;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px #ba9969;
}
.window .container {
  overflow: hidden;
  border-radius: 11px;
  border: 1px dashed #ba9969;
  background-color: #f8cc8c;
  width: calc(100% - 20px);
  height: auto;
  margin: 0 10px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.window .container.scrolling {
  overflow-y: scroll;
}
.window .container.light {
  background-color: #ffddab;
}
.window .container h3 {
  font-style: normal;
  font-size: 18px;
  font-family: "Qanelas";
  font-weight: 900;
  padding: 0 10px;
  margin: 0 0 20px;
}
.window .container h3:first-child {
  margin-top: 20px;
}
.window .container p {
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 300;
  padding: 0 10px;
  margin: 0 0 20px;
  line-height: 20px;
}
.window .container p b {
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
}
.window .container p .icon {
  display: inline-block;
  width: 25px;
  height: 10px;
  transform: scale(2.4);
}
.window .container p .icon.wide {
  margin: 0 10px;
}
.window .container p .icon.door {
  background: url("../img/icon_door.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.window .container p .icon.star {
  background: url("../img/icon_star.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.window .container p .icon.rock {
  background: url("../img/Rock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.window .container p .icon.paper {
  background: url("../img/Paper.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.window .container p .icon.scissors {
  background: url("../img/Scissor.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.window .container p .icon.ar {
  background: url("../img/icon_ar.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.window .container a {
  color: #7e37d1;
}
.window .container a:hover {
  color: #471c72;
}
.window .buttons {
  height: 50px;
  width: auto;
  display: flex;
  margin: 5px 10px 10px;
}
.window .buttons .button {
  background-color: #ba9969;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin: 5px 10px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.window .buttons .button .image {
  width: 35px;
  height: 35px;
}
.window .buttons .button.you .image {
  background: url("../img/icon_star.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.window .buttons .button.refresh .image {
  background: url("../img/icon_refresh.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.window.highscores .container {
  margin-bottom: 0;
}
.window.highscores .highscoresLegend {
  display: flex;
  align-items: center;
  background-color: #ffddab;
  box-shadow: 5px 5px 5px #00000017;
  position: relative;
}
.window.highscores .highscoresLegend span {
  font-style: normal;
  font-size: 15px;
  font-family: "Qanelas";
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
}
.window.highscores .highscoresLegend span.active {
  color: #471c72;
}
.window.highscores .highscoresLegend span:hover {
  color: #7e37d1;
}
.window.highscores .highscoresLegend span.name {
  width: 40%;
}
.window.highscores .highscoresLegend span.matchesPlayed {
  width: 30%;
}
.window.highscores .highscoresLegend span.highscore {
  width: 30%;
}
.window.highscores .highscoresContainer {
  overflow-y: scroll;
}
.window.highscores .highscoresContainer .highscore {
  display: flex;
  align-items: center;
  background-color: #efca94;
  border-bottom: 1px dashed #ba9969;
}
.window.highscores .highscoresContainer .highscore span {
  font-style: normal;
  font-size: 15px;
  font-family: "Qanelas";
  font-weight: 900;
  padding: 10px;
  display: block;
}
.window.highscores .highscoresContainer .highscore span.userName {
  width: 40%;
}
.window.highscores .highscoresContainer .highscore span.userMatchesPlayed {
  width: 30%;
}
.window.highscores .highscoresContainer .highscore span.userHighscore {
  width: 30%;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 8;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 350px;
  height: auto;
  background-color: #ba9969;
  border: 3px solid #000;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: auto;
  box-shadow: 0 1px 15px 0px #0009;
}
.modal::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 5px);
  height: 100%;
  background-color: #f8cc8c;
  border-radius: 22px;
  top: -5px;
  left: -8px;
  z-index: -1;
}
.modal .title {
  font-style: normal;
  font-size: 18px;
  font-family: "Qanelas";
  font-weight: 900;
  color: #471c72;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px #ba9969;
}
.modal .text {
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 300;
  color: black;
  padding: 0 10px;
  margin: 0 0 20px;
  line-height: 20px;
  text-align: center;
}
.modal .text b {
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
}
.modal .actionButtons {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
}
.modal .actionButtons .button {
  margin: 0 10px;
}
.modal .actionButtons .button.green {
  background-color: #1a6d38;
  min-width: 130px;
  min-height: 40px;
  border-radius: 13px;
  border: 3px solid #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
}
.modal .actionButtons .button.green span {
  padding: 11px 20px;
}
.modal .actionButtons .button.green::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #2ebf62;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 10%;
  border-radius: 16px;
}
.modal .actionButtons .button.green::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 8px;
  z-index: -1;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transform: rotate(-20deg);
}
.modal .actionButtons .button.green:hover::before {
  background-color: #29aa57;
}
.modal .actionButtons .button.green.disabled {
  background-color: #626262;
  pointer-events: none;
}
.modal .actionButtons .button.green.disabled::before {
  background-color: #959595;
}
.modal .actionButtons .button.green.disabled:hover::before {
  background-color: #888888;
}
.modal .actionButtons .button.red {
  background-color: #931414;
  min-width: 130px;
  min-height: 40px;
  border-radius: 13px;
  border: 3px solid #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 14px;
  font-family: "Qanelas";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
}
.modal .actionButtons .button.red span {
  padding: 11px 20px;
}
.modal .actionButtons .button.red::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #e22b2b;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 10%;
  border-radius: 16px;
}
.modal .actionButtons .button.red::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 8px;
  z-index: -1;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transform: rotate(-20deg);
}
.modal .actionButtons .button.red:hover::before {
  background-color: #d61d1d;
}
.modal .actionButtons .button.red.disabled {
  background-color: #626262;
  pointer-events: none;
}
.modal .actionButtons .button.red.disabled::before {
  background-color: #959595;
}
.modal .actionButtons .button.red.disabled:hover::before {
  background-color: #888888;
}
@media only screen and (max-width: 1000px) {
  .gameOverlay .menuIcons {
    bottom: auto;
    top: 0;
    padding: 50px 0 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
  }
}
@media only screen and (max-width: 900px) {
  .gameOverlay .informationOverlay .versusBar {
    top: 150px;
    transform: translate(-50%, -220px) rotate(0) scale(0.7);
  }
}
@media only screen and (max-width: 600px) {
  .gameStartup .nameField {
    flex-direction: column;
  }
  .gameStartup .nameField .nameInput {
    margin: 0 0 20px;
  }
  .gameOverlay .informationOverlay .loadingText {
    left: 5%;
    top: 45px;
  }
  .gameOverlay .informationOverlay .versusBar {
    top: 95px;
    transform: translate(-50%, -160px) rotate(0) scale(0.7);
  }
  .gameOverlay .informationOverlay .lageMessage span {
    font-size: 50px;
  }
  .gameOverlay .menuIcons {
    padding: 25px 0 0;
  }
  .gameOverlay .menuIcons .icon {
    width: 40px;
  }
  .gameOverlay .menuIcons .icon .image {
    width: 30px;
    height: 40px;
    margin: 0 5px;
  }
  .gameOverlay .menuIcons .icon::after {
    width: 40px;
    height: 40px;
  }
  .gameOverlay .menuIcons .flex {
    margin: 0 5%;
  }
  .gameOverlay .gameControls {
    bottom: 25px;
  }
  .gameOverlay .gameControls .hands .hand {
    width: 75px;
    height: auto;
  }
  .gameOverlay .gameControls .hands .hand .image {
    width: 75px;
    height: 100px;
  }
  .window {
    top: 105px;
    height: calc(100% - 130px);
    right: 5%;
  }
}
@media only screen and (max-width: 450px) {
  .gameOverlay .informationOverlay .loadingText {
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .gameOverlay .window .title {
    font-size: 30px;
  }
  .gameOverlay .window.highscores .container .highscoresLegend span {
    font-size: 13px;
  }
  .gameOverlay .window.highscores .container .highscoresContainer .highscore span {
    font-size: 13px;
  }
}
@media only screen and (max-width: 350px) {
  .gameOverlay .window.highscores .container .highscoresLegend span {
    font-size: 12px;
  }
  .gameOverlay .window.highscores .container .highscoresContainer .highscore span {
    font-size: 12px;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */
