// main: styles.less

@media only screen and (max-width: 1000px) {
  .gameOverlay {
    .menuIcons {
      bottom: auto;
      top: 0;
      padding: 50px 0 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
    }
  }
}

@media only screen and (max-width: 600px) {
  .gameOverlay {
    .menuIcons {
      padding: 25px 0 0;

      .flex {
        margin: 0 25px;
      }
    }

    .gameControls {
      bottom: 25px;

      .hands {
        .hand {
          width: 75px;
          height: auto;

          .image {
            width: 75px;
            height: 100px;
          }
        }
      }
    }
  }
}
