// main: styles.less

@media only screen and (max-width: 1000px) {
  .gameOverlay {
    .menuIcons {
      bottom: auto;
      top: 0;
      padding: 50px 0 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
    }
  }
}

@media only screen and (max-width: 900px) {
  .gameOverlay {
    .informationOverlay {
      .versusBar {
        top: 150px;
        transform: translate(-50%, -220px) rotate(0);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .gameOverlay {
    .informationOverlay {
      .versusBar {
        top: 85px;
        transform: translate(-50%, -140px) rotate(0);
      }
    }

    .menuIcons {
      padding: 25px 0 0;

      .icon {
        width: 40px;

        .image {
          width: 30px;
          height: 40px;
          margin: 0 5px;
        }

        &::after {
          width: 40px;
          height: 40px;
        }
      }

      .buttonContainer {
        display: none;
      }

      .flex {
        margin: 0 25px;
      }
    }

    .gameControls {
      bottom: 25px;

      .hands {
        .hand {
          width: 75px;
          height: auto;

          .image {
            width: 75px;
            height: 100px;
          }
        }
      }
    }
  }
}
