<div class="highscore" data-name="{{name}}" data-matches-played="{{matchesPlayed}}" data-highscore="{{highscore}}" data-token="{{token}}">
  <span class="userName">{{name}}</span>
  <span class="userMatchesPlayed">{{matchesPlayed}}</span>
  <span class="userHighscore">{{highscore}}</span>
</div>
